* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sección experiencia */
.seccion {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #cbdaf2;
  position: relative;
  padding: 2rem 1rem;
}

/* Contenedor principal */
.contenedor-seccion {
  width: 80%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 50px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
  margin: 0 auto;
}

/* Estilo general para los proyectos */

.proyecto{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  align-items: stretch;
  aspect-ratio: 3 / 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  min-width: 100%;
  padding: 30px;
  position: relative;
  transition: all 0.5s ease;
  width: 100%;
  padding: 40px;
  transition: all 0.5s ease;
}

.box-proyecto {
  align-items: stretch;
  aspect-ratio: 3 / 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  min-width: 100%;
  padding: 30px;
  position: relative;
  transition: all 0.5s ease;
  width: 100%;
  padding: 10px;
  transition: all 0.5s ease;
}

.box-proyecto:hover {
  box-shadow: 0 0 20px #92cace;
  transform: scale(1.02);
}


.proyecto > * {
  flex: 1 1 50%;
  max-width: 50%;
}

.box-imagen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 4px;
  border-radius: 10px;
  background: linear-gradient(45deg, #92cace, #034f84);
}

.img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.box-imagen{
  transition: all 0.5s ease;
}

.info{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0 10px;

}

.titulo{
  flex: 1 1 20%;
  font-size: 2rem;
  font-family: 'Exo 2', just;
  font-weight: 200;
  display: flex;
  justify-content: start;
  align-items: center;
}

.tecnologias {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Define un límite para columnas */
  gap: 4px;
  overflow: hidden; /* Esconde el contenido que se desborde */
}

.descripcion{
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.url{
  flex: 1 1 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto;

}

.tecnologia{
  display: flex;
  padding: 2px;
  justify-content: center;
  align-items: center;
  border: 2px solid #92cace;
  border-radius: 4px;
  color: #92cace;
  gap: 4px;
}

.nombre-tecnologia{
  font-size: 1rem;

}

.icon-tecnologia{
  width: 16px;
  height: 16px;
}

.btn-repositorio{
  padding: 8px;
  border-radius: 10px;
  font-size: 1.5rem;
  border: 1px solid #cbdaf2;
  text-align: center;
  transition: all 0.5s ease;
  cursor: pointer;
}

.btn-repositorio:hover{
  background-color:  #cbdaf2;
  color: #034f84;

}

.btn-web{
  padding: 8px;
  border-radius: 10px;
  font-size: 1.5rem;
  border: 1px solid hsl(120, 100%, 50%);
  color: #03ff03;
  text-align: center;
  transition: all 0.5s ease;
  cursor: pointer;
  opacity: 0.5;
}

.btn-web:hover{
  background-color:  #008000;
  color: #cbdaf2;

}

.carousel-track-container {
  overflow: hidden;
  width: 100%;
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  border-radius: 10px;
  padding: 20px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0px;
  cursor: pointer;
  z-index: 100;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .5;
}

.carousel-button.left {
  left: 0;
}

.carousel-button.right {
  right: 0;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

@media (max-width: 768px) {
  .proyecto {
    min-width: 100%;
  }
}


@media (max-width: 320px) {
  .seccion-nombre {
    font-size: 1.5rem;
  }

  .titulo	{
    font-size: .8rem;
  }

  .contenedor-proyectos{
    width: 100%;
  }

  .proyecto{
    width: 100%;
  }

  .descripcion	{
    display: none;
  }

  .tecnologia{
    border: none;
  }

  .nombre-tecnologia{
    display: none;
  }

  .btn-repositorio{
    padding: 1px 3px;
    font-size: .6rem;
  }

  .btn-web{
    padding: 1px 3px;
    font-size: .6rem;
  }

}

@media (max-width: 426px) {
  .seccion-nombre {
    font-size: 1.8rem;
  }

  .titulo	{
    font-size: 1.2rem;
  }

  .contenedor-proyectos{
    width: 100%;
  }

  .proyecto{
    width: 100%;
  }

  .descripcion	{
    display: none;
  }

  .tecnologia{
    border: none;
  }

  .nombre-tecnologia{
    display: none;
  }

  .btn-repositorio{
    padding: 1px 3px;
    font-size: .6rem;
  }

  .btn-web{
    padding: 1px 3px;
    font-size: .6rem;
  }

}

@media (max-width: 376px) {
  .seccion-nombre {
    font-size: 1.8rem;
  }

  .titulo	{
    font-size: 1.2rem;
  }

  .contenedor-proyectos{
    width: 100%;
  }

  .proyecto{
    width: 100%;
  }

  .descripcion	{
    display: none;
  }

  .tecnologia{
    border: none;
  }

  .nombre-tecnologia{
    display: none;
  }

  .btn-repositorio{
    padding: 1px 3px;
    font-size: .6rem;
  }

  .btn-web{
    padding: 1px 3px;
    font-size: .6rem;
  }

}
