
<div class="footer">

  <div class="banner">
    <div class="text-icon github" (click)="openGitHub()">
      <img src="icons/github.png" alt="" class="icon">
      <p class="texto">GitHub</p>
    </div>
    <div class="text-icon email">
      <p class="texto-icon">fcomunozm&commat;gmail.com</p>
    </div>
    <div class="text-icon linkedin" (click)="openLinkedin()">
      <img src="icons/linkedin.png" alt="" class="icon">
      <p class="texto">LinkedIn</p>
    </div>
    <div class="text-icon cv" (click)="downloadPDF()">
      <img src="icons/cv.png" alt="" class="icon">
      <p class="texto">Descargar CV</p>
    </div>
  </div>
  <div class="info">
    <p>Este portafolio ha sido optimizado para visualizarse en monitores de escritorio.</p>
  </div>
</div>
