<section id="experiencia" class="experiencia" #experiencia>
  <app-particles></app-particles>
  <div class="contenedor-experiencia">
    <header class="cabecera">
      <span class="span span-izquierda"></span>
      <p class="seccion-nombre">Experiencia</p>
      <span class="span span-derecha"></span>
    </header>


    <div class="main">
      <div class="empresa">
        <div class="nombre">
          <h5>NTT DATA</h5>
        </div>
      <div class="fecha">
        <p>Prácticas</p>
        <p>Abril 2024 - Julio 2024</p>
      </div>
      <br>
      <div class="descripcion">
        <p>
          Realicé mis prácticas curriculares con el equipo de SAP UI5, donde adquirí experiencia en el desarrollo de aplicaciones, incluyendo:
        </p>
        <div class="info-practicas">
          <ul>
            <li><span>Simulación del programa ONE ERP de Expenses.</span></li>
          </ul>
          <ul>
            <li><span>Gestor de productos:</span> Realicé un ejercicio práctico desarrollando una aplicación básica para la gestión de productos.</li>
          </ul>
          <ul>
            <li><span>Gestor de empleados:</span> Realicé un ejercicio práctico desarrollando una aplicación básica para la gestión de empleados, utilizando el componente <span class="span2">wizard.</span></li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>


