<div #animationContainer>
  <section class="seccion splash" [@slideOut]>
    <div class="contenedor-splash">
      <div class="part" #partA></div>
      <div class="part" #partB></div>
    </div>

    <div class="contenedor-splash">
      <div class="box-inicio" #boxInicio>
        <p>
          <span class="nombre fondo">Francisco </span>
          <span class="nombre izquierda"> Muñoz </span>
          <br>
          <span class="nombre derecha">portfolio</span>
        </p>
      </div>
    </div>

    <div class="contenedor-splash">
      <div class="part" #partC></div>
      <div class="part" #partD></div>
    </div>
  </section>
</div>
