<section id="sobre-mi" class="seccion" #sobremi>
  <app-particles></app-particles>
  <div class="contenedor-seccion">
    <header class="cabecera">
      <span class="span span-izquierda"></span>
      <p class="seccion-nombre">Sobre mí</p>
      <span class="span span-derecha"></span>
    </header>

    <div class="main">
      <div class="contenedor-foto">
          <div class="box-foto">
            <img src="fotoCV-sinfondo.png" alt="" class="foto">
          </div>
      </div>

      <div class="contenedor-texto">
        <p>
          He estudiado Desarrollo de Aplicaciones Web, me apasiona el frontend, pero también estoy dispuesto a aprender sobre otras áreas del desarrollo web.
        </p>
        <br>
        <p>
          He tenido varios trabajos, pero me di cuenta de que no quería hacer algo que no me gustara. Por eso, decidí meterme en el desarrollo web, buscando algo que realmente me motive.
        </p>
        <br>
        <p>
          Después de las prácticas, estoy muy motivado para encontrar mi primera oportunidad en el campo, ya sea con un contrato en prácticas o un puesto inicial.
        </p>
        <br>
      </div>
    </div>
  </div>
</section>

